---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css'
import Calculator from '@/components/Calculator.tsx';
import { Image } from 'astro:assets';
import pumpkinSvg from '@/assets/lagom-pumpkin-and-candy.svg';
---

<Layout title="Pumpkin Price Calculator">
	<main class="flex flex-col items-center place-content-center h-screen w-screen">
		<Image src={pumpkinSvg} alt="Pumpkin and candy" class="w-48 mb-6" />
		<Calculator client:load/>
	</main>
</Layout>